.show-analysis

  .container
    .row
      .col-xs-12
        .page-header
          %h1= html_document.title
          %p.lead= analysis.url

  %section.meta-tags
    .container
      .row
        .col-sm-12
          %h2 Meta Tags
      .row
        - html_document.meta_tags.each do |meta_tag|
          .col-sm-2.col-xs-4
            .meta-tag
              - meta_tag.attributes.each do |key, value|
                %strong= "#{key}:"
                = value

  %section.stylesheets
    .container
      .row
        .col-sm-12
          %h2 Stylesheets
      .row
        - html_document.stylesheets.each do |stylesheet|
          .col-sm-2.col-xs-4
            .stylesheet{ data: { url: stylesheet.url }}
              = stylesheet.name

  %section.javascripts
    .container
      .row
        .col-sm-12
          %h2 Javascripts
      .row
        - html_document.javascripts.each do |javascript|
          .col-sm-2.col-xs-4
            .javascript{ data: { url: javascript.url }}
              = javascript.name
